import numpy as np
import pandas as pd

data = [ 1, 2, 3, 4]
so=pd.Series(data)
print('*'*60)
print("Seriese:")
print(so)
print('*'*60)
print("with Index:")
index=['a','b','c','d']
si=pd.Series(data,index)
si

In [28]:
A=np.arange(4)
pd.Series([1,2,3,'hello',5.6],['a','b','c',5,'d'])

a        1
b        2
c        3
5    hello
d      5.6
dtype: object

In [32]:
pd.Series(np.random.randn(5),[1,2,3,4,5])

1    0.387189
2   -0.717463
3   -0.633340
4    1.153300
5    1.548162
dtype: float64

In [34]:
dic = {'Roll_NO':101,"Name":'Ankush',"Education":"Graduate"}
pd.Series(dic)

Roll_NO           101
Name           Ankush
Education    Graduate
dtype: object

In [40]:
data = { 'RollNo':101, "Name":"Rahul","Education":"Graduate"}
print("-"*60)
print(pd.Series(data,index=['RollNo',"Name","Education",'Qual']))

------------------------------------------------------------
RollNo            101
Name            Rahul
Education    Graduate
Qual              NaN
dtype: object

In [42]:
import numpy as np
import pandas as pd

data = [ 10, 20, 30, 40, 50 ]
index = ['a','b','c','d','e']
so = pd.Series(data,index)
print("s['a']: Print element at index a","\n",'-'*60,"\n",so['a'])
print("['b' in so]: Check index 'b' is present in list","\n",'-'*60,"\n",'b' in so)
print('c' in so)

s['a']: Print element at index a
 ------------------------------------------------------------
 10
['b' in so]: Check index 'b' is present in list
 ------------------------------------------------------------
 True
True

In [55]:
s1 = [10,20,6.5,6.9999,8]
s2 = [4,5,7.4,6,9.0]
s3 = ['a','b','c','d','e']
s4 = ['a','b','c','d','e']
index = ['a','b','c','d','e']
so1 = pd.Series(s1,index)
so2 = pd.Series(s2,index)
so3 = pd.Series(s3,index)
so4 = pd.Series(s4,index)
print(so1+so2)
#print(so1+so4) will throw erorr.
print(so3+so4)

a    14.0000
b    25.0000
c    13.9000
d    12.9999
e    17.0000
dtype: float64
a    aa
b    bb
c    cc
d    dd
e    ee
dtype: object

In [60]:
index = ['a','b','c','d','e']
so = pd.Series(np.arange(5),index)
print(so)
so1 = so.drop('c')
print(so1)
print(so)

a    0
b    1
c    2
d    3
e    4
dtype: int32
a    0
b    1
d    3
e    4
dtype: int32
a    0
b    1
c    2
d    3
e    4
dtype: int32

In [68]:
data = pd.Series([4,5,-3,0,1],index = ['a','b','c','d','e'])
print(data)
print(data.rank())
#df=pd.DataFrame(data)
#df['rnk']=data.rank()
#df"""

a    4
b    5
c   -3
d    0
e    1
dtype: int64
a    4.0
b    5.0
c    1.0
d    2.0
e    3.0
dtype: float64

In [77]:
data = [20,40,30,10,50]
so = pd.Series(data)
print(so)
print(so[so > so.median()])
print("median",so.median())
print("mean",so.mean())
print("mean",so.describe())

0    20
1    40
2    30
3    10
4    50
dtype: int64
1    40
4    50
dtype: int64
median 30.0
mean 30.0
mean count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

0    20
1    40
2    30
3    10
4    50
dtype: int64